.header {
  background-image: "web_design_final-main/images/colorado-denim-logo.png";
  text-align: center;
  padding: 20px;
}
.body {
    font: OrelegaOne;
    font-weight: 200;
}
.maincontent {
    align-content: center;
    background-color: #c68c53;
    font: OrelegaOne
}
.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
