a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar {
    overflow: hidden;
    background-color: #ecd9c6;
    
}
.navbar a {
  float: left;
  display: block;
  color: #003300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ecd9c6;
  color: #003300;
}
.navbar a.active {
  background-color: #ecd9c6;
  color: #003300;
}
.navbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
